body
{
    color: #333;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
    padding: 0;
}



#cabecera
{
    background: rgb(245, 170, 32);
    box-shadow: 0px 2px 20px 0px rgba(0,0,0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #encabezado
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#contenedor
{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#img
{
    width: 90%;
}

#contenedor h1
{
    font-size: 20px;
}
#post
{
    padding: 1em;
}

